.custom-highlight {
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0.2em;
    padding: 0.05em 0.3em;
}

.concept {
  font-family: "Segoe UI", sans-serif;
  color: #555; /* black */
  font-weight: 600;
}